.About {
  background-color: rgb(0, 0, 0);
  background-size: cover;
  height: 80%;
  margin-top: 110px;
  display: flex;
}

#about-text {
  background-color: #f8dc5e;
  font-size: small;
  padding-right : 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 10%;
  margin-bottom: 30px;
  padding-right: 21px;
}

#fragile{
  margin-top: 40px;
  margin-left: -20px;
  height: 90%;
  width: 60%;
}

#fragile-image{
  overflow: hidden;
  padding-right: 20px;
  height: 100%;
  margin-right: 40px;
}


@media only screen and (max-width: 750px ) {
  .About {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
    margin-left: 20px;
    margin-right: 20px;
  }

  #about-text {
    margin: auto;
    padding: 35px;
  }
  #fragile {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border: 2px solid black;
  }
  #fragile-image{
    width: 100%;
    margin: auto;
    height:100%;
    margin-bottom: -20px;
  }
}

@media screen and (max-width: 300px) {
  
}