
.services {
  color: white;
  margin-top: 110px;
}
.services h1 {
  text-align: center;
  font-weight: 700;
  font-size: larger;
}

#card-container {
  justify-content: center;
  display: flex;
}

.card {
  display: grid;
  max-width: 300px;
  justify-content: center;
  margin-right: 2%;
  margin-left: 2%;
  padding: 10px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

.card img{
  max-width: 300px;
}

#reviews {
  display: flex;
  height: 350px;
}

.review {
  display: flex;
  background-color: #fbe78d;
  width: 50%;
  color: black;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}

.review-img img{
  height: 100%
} 

.review-text h2{
  font-family: 'Satisfy', cursive;
  font-weight: 200;
  font-size: xx-large

}

.review-text {
  padding: 20px;
  text-align: center;
}

.review-text p {
  font-family: "Work Sans", sans-serif;
}

.review-text hr{
  width: 50%;
  height: 2.3px;
  border: none;
  background-color: black;
}

@media screen and (max-width: 750px) {
  #card-container{
    flex-direction: column;
    width: 100%;
  }
  .card {
    text-align: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }
  #reviews {
    flex-direction: column;
  }
  .review{
    border-top: 3px solid black;
    margin-right: 0;
    height: 300px;
    width: 100%;
  }
  .review-img {
    height: 300px;
    width: 150px;
  }
  .review-text {
    width: 150px;
    font-size: x-small;
    margin-right: 2%;
  }
}